@using uBeacCMS.Models
@using uBeacCMS.Pages.Shared
@using uBeacCMS.Pages
@inject CmsContext Core

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - uBeacCMS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/uBeacCMS.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <header class="row">
            <div class="col border">
                <component type="typeof(Pane)" render-mode="Static" param-name='"Header"' param-core="@Core" />
            </div>
        </header>
        <main role="main" class="row">
            <div class="col-2 border">
                <component type="typeof(Pane)" render-mode="Static" param-name='"Sidabar"' param-core="@Core" />
            </div>
            <div class="col-8  border">
                <component type="typeof(Pane)" render-mode="Static" param-name='"Content"' param-core="@Core" />
                @RenderBody()
            </div>
            <div class="col-2  border">
                <component type="typeof(Pane)" render-mode="Static" param-name='"Right"' param-core="@Core" />
            </div>
        </main>
        <footer class="row">
            <div class="col border">
                <component type="typeof(Pane)" render-mode="Static" param-name='"Footer"' param-core="@Core" />
            </div>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>